# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Build directory
/public/*
.DS_Store

.vscode/

!public/sitemap.xml
!public/robots.txt
!public/google54f9d77f0b8f8daf.html
!public/yandex_911a06fa931dc457.html
!public/favicon.ico