# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Build directory
/public
.DS_Store

.vscode/

!public/sitemap.xml
!public/robots.txt
!public/google*.html
!public/yandex*.html
!public/favicon.ico